include components/header.pug
// Page Content
main.ctn
    include components/side-menu.pug
    div.content
        h4(style="text-align: center;") Dökümanlar
        hr
        a(
            class="align-self-center" 
            target="_blank" 
            href="http://euniversite.nku.edu.tr/kullanicidosyalari/2086/files/takvim(1).png")
            p 2016 Yılı Kalite Komisyonu Çalışma Takvimi
        hr

        a(
            class="align-self-center" 
            target="_blank" 
            href="http://euniversite.nku.edu.tr/kullanicidosyalari/2086/files/Kalite%20Nedir.pptx")
            p Kalite Nedir?

        hr

        a(
            class="align-self-center" 
            target="_blank" 
            href="http://euniversite.nku.edu.tr/kullanicidosyalari/2086/files/takvim(1).png")
            p 2016 Yılı Kalite Komisyonu Çalışma Takvimi

        hr

        a(
            class="align-self-center" 
            target="_blank" 
            href="http://euniversite.nku.edu.tr/kullanicidosyalari/2086/files/De%C4%9Ferlendirme%20S%C3%BCreci%2015_03_2017.pdf")
            p Değerlendirme Süreci Sunum 15.03.2017

        hr

        a(
            class="align-self-center" 
            target="_blank" 
            href="http://euniversite.nku.edu.tr/kullanicidosyalari/2086/files/D%C4%B1%C5%9F%20de%C4%9Ferlendirme%20s%C3%BCreci%2015_03_2017.pdf")
            p Dış Değerlendirme Süreci Sunumu 15.03.2017

        hr

        a(
            class="align-self-center" 
            target="_blank" 
            href="http://euniversite.nku.edu.tr/kullanicidosyalari/2086/files/SAY-KIDR%20de%C4%9Ferlendirme%20Sunum%20(15032017).pdf")
            p SAY-KIDR Değerlendirme Sunum 15.03.2017

        hr

        a(
            class="align-self-center" 
            target="_blank" 
            href="http://euniversite.nku.edu.tr/kullanicidosyalari/2086/files/2017%20Takvim.PNG" style="background-color: rgb(255, 255, 255);")
            p 2017 Yılı Kalite Komisyonu Çalışma Takvimi

        hr

        a(
            class="align-self-center" 
            target="_blank" 
            href="http://euniversite.nku.edu.tr/kullanicidosyalari/2490/files/kidrhazirlamakilavuzu.PDF")
            p KİDR Hazırlama Kılavuzu

        hr

        a(
            class="align-self-center" 
            target="_blank" 
            href="http://euniversite.nku.edu.tr/kullanicidosyalari/2490/files/KAL%C4%B0TE%20KOM%C4%B0SYONU%20ve%20RAPORLAMA%20S%C3%9CREC%C4%B0.PDF")
            p KİDR Raporlama Süreci

        hr

        a(
            class="align-self-center" 
            target="_blank" 
            href="http://euniversite.nku.edu.tr/kullanicidosyalari/2490/files/KurumsalDisDegerlendirmeOlcutleri.pdf")
            p Kurumsal Dış Değerlendirme Ölçütleri

        hr

        a(
            class="align-self-center" 
            target="_blank" 
            href="http://euniversite.nku.edu.tr/kullanicidosyalari/2490/files/i%C3%A7%20de%C4%9Ferlendirme%20raparo%20haz%C4%B1rlama%20.pdf")
            p Kurum İç Değerlendirme Rapor Hazırlama Kılavuzu

        hr

        a(
            class="align-self-center" 
            target="_blank" 
            href="http://euniversite.nku.edu.tr/kullanicidosyalari/2490/files/Y%C3%9CKSEK%C3%96%C4%9ERET%C4%B0M%20KAL%C4%B0TE%20KURULU%20G%C3%96REV%2CYETK%C4%B0%20ve%20SORUMLULUKLARI.PDF")
            p Görev, Yetki ve Sorumluluklar

        hr

        a(
            class="align-self-center" 
            target="_blank" 
            href="http://euniversite.nku.edu.tr/kullanicidosyalari/2086/files/K%C4%B0DR_s%C3%BCr%C3%BCm_1_3%20(2).docx")
            p Kurum İç Değerlendirme Raporu Hazırlama Kılavuzu Sürüm 1.3

        hr

        a(  class="align-self-center" 
            target="_blank" 
            href="http://euniversite.nku.edu.tr/kullanicidosyalari/2086/files/NK%C3%9C%20AKADEM%C4%B0K%20YAPI.PNG")
            p NKÜ Akademik Teşkilat Yapısı

        hr

        a(
            class="align-self-center" 
            target="_blank" 
            href="http://euniversite.nku.edu.tr/kullanicidosyalari/2086/files/NK%C3%9C%20%C4%B0DAR%C4%B0%20YAPI.PNG")
            p NKÜ İdari Teşkilat Yapısı

        hr

        a(
            class="align-self-center" 
            target="_blank" 
            href="http://euniversite.nku.edu.tr/kullanicidosyalari/2086/files/2018%20y%C4%B1l%C4%B1%20i%C5%9F%20takvimi(1).PNG")
            p 2018 Yılı Kalite Komisyonu Çalışma Takvimi

        hr

        a(
            class="align-self-center" 
            target="_blank" 
            href="http://euniversite.nku.edu.tr/kullanicidosyalari/2086/files/Kalite%20Sunum.pptx")
            p NKÜ Kalite Komisyonu Sunumu
        hr
// End of Page Content
include components/footer.pug