include components/header.pug
// Page Content
main.ctn
    include components/side-menu.pug
    div.content
        div.row
            div.col.s6.push-s3
                h4(style="text-align: center; padding-top: 2rem; padding-bottom: 2rem;").blue-text.text-lighten-2 Faaliyet Raporları
        div.row
            div.col.s12.m12
                a(
                    target="_blank" 
                    href="http://bhi.nku.edu.tr/basinyonetim/resim/images/editorresimleri/507/files/Bilgisayar%20M%C3%BChendisli%C4%9Fi%20B%C3%B6l%C3%BCm%C3%BC%202017%20Faaliyet%20Raporu.pdf")
                    p 2017 Yılı Faaliyet Raporu
            div.col.s12.m12
                a(
                    target="_blank" 
                    href="http://bhi.nku.edu.tr/basinyonetim/resim/images/editorresimleri/507/files/Bilgisayar%20M%C3%BChendisli%C4%9Fi%20B%C3%B6l%C3%BCm%C3%BC%202018%20Faaliyet%20Raporu.pdf")
                    p 2018 Yılı Faaliyet Raporu
            div.col.s12.m12
                a(
                    target="_blank" 
                    href="http://bhi.nku.edu.tr/basinyonetim/resim/images/editorresimleri/2192/files/Bilgisayar%20M%C3%BChendisli%C4%9Fi%20B%C3%B6l%C3%BCm%C3%BC%202019%20Faaliyet%20Raporu.pdf")
                    p 2019 Yılı Faaliyet Raporu
// End of Page Content
include components/footer.pug