include components/header.pug
// Page Content
main.ctn
    include components/side-menu.pug
    div.content
        div.row
            div.col.s6.push-s3
                h4(style="text-align: center; padding-top: 2rem; padding-bottom: 2rem;").blue-text.text-lighten-2 Kalite Elçileri
        div.row
            div.col.s12.m4.l4(style="")
                div(style="display: flex; flex-direction: column; justify-content: stretch; align-items: center; padding: 1rem; box-shadow: 1px 0 6px #444;")
                    img(
                        width="385"
                        src="http://euniversite.nku.edu.tr/personel_genel_resimler/ercanbulus.jpg" 
                        alt="ercan buluş" 
                        class="img-thumbnail")
                    h4(style="margin-top: 1rem;") Doç. Dr. Ercan BULUŞ
                    p(style="font-weight: 700; margin-top: 1rem;") Bölüm Başkanı
            div.col.s12.m4.l4(style="")
                div(style="display: flex; flex-direction: column; justify-content: stretch; align-items: center; padding: 1rem; box-shadow: 1px 0 6px #444;")
                    img(
                        width="385"
                        src="http://bidb.nku.edu.tr/resim.php?no=382" 
                        alt="nusret buluş" 
                        class="img-thumbnail")
                    h4(style="margin-top: 1rem;") Dr. Öğretim Üyesi Halil Nusret BULUŞ
                    p(style="font-weight: 700; margin-top: 1rem;") Bölüm Başkan Yardımcısı
            div.col.s12.m4.l4(style="")
                div(style="display: flex; flex-direction: column; justify-content: stretch; align-items: center; padding: 1rem; box-shadow: 1px 0 6px #444;")
                    img(
                        width="385"
                        src="http://euniversite.nku.edu.tr/personel_genel_resimler/2018-02-02_14-32-01_02022018143227.png" 
                        alt="ahmet saygılı" 
                        class="img-thumbnail")
                    h4(style="margin-top: 1rem;") Dr. Öğretim Üyesi Ahmet SAYGILI
                    p(style="font-weight: 700; margin-top: 1rem;") Bölüm Başkan Yardımcısı

// End of Page Content
include components/footer.pug